# Data Type and Structure
1. What are data structures, and why are they important?
- Data structures are ways to organize and store data for efficient access and modification. Python provides several built-in data structures, including:

1. **Primitive Data Types**:
   - `int`, `float`, `str`, `bool`.

2. **Non-Primitive Data Structures**:
   - **List**: Ordered, mutable collection (`[1, 2, 3]`).
   - **Tuple**: Ordered, immutable collection (`(1, 2, 3)`).
   - **Set**: Unordered, unique collection (`{1, 2, 3}`).
   - **Dictionary**: Key-value pairs (`{'name': 'Alice', 'age': 25}`).

3. **Advanced Structures**:
   - **Stack**: LIFO (use a list: `.append()`, `.pop()`).
   - **Queue**: FIFO (use `collections.deque`).
   - **Linked List**: Custom implementation with nodes.
   - **Priority Queue**: Min-heap with `heapq`.

### Why They Matter:
- **Efficiency**: Faster operations (e.g., search, insert, delete).
- **Scalability**: Handle large datasets effectively.
- **Readability**: Built-in structures make code cleaner and easier to maintain.

   Data structures are essential for optimizing performance and ensuring your code works well as the amount of data grows.

2.Explain the difference between mutable and immutable data types with examples?
- Mutable: Data types that can be changed after creation. Example: list, set, dictionary.
-Immutable: Data types that cannot be modified after creation. Example: tuple, string, int.

3.What are the main differences between lists and tuples in Python?
- Lists:
  - Mutable (can be changed).
  - Defined with square brackets: [1, 2, 3].
- Tuples:
  - Immutable (cannot be changed).
  - Defined with parentheses: (1, 2, 3).

4.Describe how dictionaries store data?
 - Dictionaries store data as key-value pairs.
 - Data is stored in an unordered fashion, with each key being unique.
   - Example: {'name': 'Alice', 'age': 25}.
   
5.Why might you use a set instead of a list in Python?
- Sets are useful when you need to store unique elements without duplicates.
- Example: {1, 2, 3} removes duplicates automatically, unlike lists.

6.What is a string in Python, and how is it different from a list?
- String: An immutable sequence of characters.
- List: A mutable sequence of elements (which can be of any data type).
- Strings are fixed once created, while lists can be changed.

7.How do tuples ensure data integrity in Python?
- Tuples are immutable, which ensures that their data cannot be modified once created, maintaining data integrity.

8.What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that maps keys to values using a hash function.
- In Python, dictionaries are implemented using hash tables, allowing for fast lookups.

9.Can lists contain different data types in Python?
- Yes, lists can contain elements of different data types (e.g., integers, strings, other lists).

10.Explain why strings are immutable in Python?
- Strings are immutable to ensure that their data remains constant and to optimize performance. This also allows strings to be safely used in situations where immutability is required (e.g., as keys in dictionaries).

11.What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer faster lookups, as data is accessed via keys (O(1) average time complexity), while lists require searching through each element (O(n) time complexity).

12.Describe a scenario where using a tuple would be preferable over a list?
- Use tuples when you need an immutable collection of items that should not be modified, such as coordinates (e.g., (x, y) for 2D points).

13.How do sets handle duplicate values in Python?
- Sets automatically remove duplicate values. If you try to add a duplicate element, it will not be stored.

14.How does the “in” keyword work differently for lists and dictionaries?
- In lists, the in keyword checks if a specific element is present.
- In dictionaries, the in keyword checks if a key is present.

15.Can you modify the elements of a tuple? Explain why or why not?
- No, tuples are immutable, meaning you cannot modify, add, or remove elements once created.

16.What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where the value can be another dictionary.
Example:-


student = {

    'name': 'Alice',
    'address': {'city': 'New York', 'zip': '10001'}
}

17.Describe the time complexity of accessing elements in a dictionary?
- Accessing elements by key in a dictionary is O(1) on average due to hashing.

18.In what situations are lists preferred over dictionaries?
- Use lists when you need an ordered collection, especially when you want to access elements by position (index) rather than by key.


19.Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are unordered because the keys are hashed, meaning there is no guaranteed order of the elements.
- Data retrieval is done by key, not by index, so the order doesn't matter.

20.Explain the difference between a list and a dictionary in terms of data retrieval?
- Lists: Retrieve data by index (ordered).For e.g:-

my_list = [10, 20, 30]

print(my_list[1])
 # Output: 20
- Dictionaries: Retrieve data by key (unordered).For e.g:-

my_dict = {'a': 10, 'b': 20}

print(my_dict['b'])
 # Output: 20

In [ ]:
#1.  Write a code to create a string with your name and print it.
name = "Ramandeep Singh"
print(name)

Ramandeep Singh

In [ ]:
# 2. Write a code to find the length of the string "Hello World"
str = "Hello World"
print(len(str))

11

In [ ]:
# 3.Write a code to slice the first 3 characters from the string "Python Programming"
str = "Python Programming"
print(str[0:3])

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase.
str = "hello"
print(str.upper())

HELLO

In [ ]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?
str = "I like an apple"
print(str.replace("apple","orange"))

I like an orange

In [ ]:
# 6.Write a code to create a list with numbers 1 to 5 and print it?
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ["a","b","c","d"]
print(list[1])

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10,20,30,40,50]
list1 = list[::-1]
print(list1)

[50, 40, 30, 20, 10]

In [ ]:
# 11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100,200,300)
print(t)
type(t)

(100, 200, 300)

tuple

In [ ]:
# 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple = ("red","green","blue","yellow")
print(tuple[-2])

blue

In [ ]:
# 13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10,20,5,15)
print(min(tuple))

5

In [ ]:
# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ("dog","cat","rabbit")
print(tuple.index("cat"))

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple =("apple","banana","kiwi")
print("kiwi" in tuple)

True

In [ ]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a','b','c'}
print(set)

{'c', 'b', 'a'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1,2,3,4,5}
set.clear()
print(set)

set()

In [ ]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [ ]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
 #20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.intersection(set2))

{3}

In [ ]:
 # 21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {"name":"raman" ,"age":24,"city": "hoshiarpur"}
print(dict)

{'name': 'raman', 'age': 24, 'city': 'hoshiarpur'}

In [ ]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {"name":"john" ,"age":25}
dict["country"] = "USA"
print(dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict = {"name":"Alice" ,"age":30}
print(dict["name"])

Alice

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict = {"name":"bob" ,"age":22,"city": "New York"}
dict.pop("age")
print(dict)

{'name': 'bob', 'city': 'New York'}

In [ ]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {"name":"Alice","city":"Paris"}
print("city" in dict)

True

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
l = [1,2,3,4,5]
t = (1,2,3,4,5)
d = {"value":"1,2,3,4,5"}
print(l, t, d)

[1, 2, 3, 4, 5] (1, 2, 3, 4, 5) {'value': '1,2,3,4,5'}

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
list = [1,5,55,60,65]
list1 = sorted(list)
print(list1)

[1, 5, 55, 60, 65]

In [ ]:
# 28.Write a code to create a list with strings and print the element at the third index
list = ["hello","bye","raman","good","awesome"]
print(list[3])

good

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name":"raman" ,"age":24,"city": "hoshiarpur"}
dict2 = {"nam":"bob" ,"ag":22,"cit": "New York"}
dict3 ={**dict1,**dict2}
print(dict3)

{'name': 'raman', 'age': 24, 'city': 'hoshiarpur', 'nam': 'bob', 'ag': 22, 'cit': 'New York'}

In [5]:
# 30. Write a code to convert a list of strings into a set
list1 = [1, 2, 3, 4, 4, 5, 5]
type(list1)
set1 = set(list1)
print(set1)
type(set1)

{1, 2, 3, 4, 5}

set